
version: '3.8'

services:
  mysql-workbench:
    image: lscr.io/linuxserver/mysql-workbench:latest
    container_name: mysql-workbench
    cap_add:
      - IPC_LOCK
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Bangkok
    ports:
      - "3000:3000"
      - "3001:3001"
    volumes:
      - ./config:/config
    shm_size: "1gb"
    restart: unless-stopped